# Python cache files
__pycache__/
*.pyc
*.pyo

# Flask instance folder
instance/

# Virtual environment
venv/
.env/

# Docker-related files
*.log
*.sqlite3
*.db

# Docker images
docker-compose.yml
Dockerfile
